.box-marvel a {
color: #1c2938;
text-decoration: none;
}

.card-fundo-marvel {
overflow: hidden;
height: 120px;
border-top-left-radius: .25rem;
border-top-right-radius: .25rem;
background-image: url('../img/bg.jpg');
background-repeat: no-repeat;
background-position: center center;
}

.artigos--marvel h1 {
font-size: 1.2rem;
}

.artigos--marvel h2 {
font-size: 1rem;
}

a.flex-sm-fill.text-sm-center.nav-link.btn.btn-outline-secondary {
    margin: 5px;
}

.marvel-img {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 300px) {
    .marvel-title {
        position: static;
        transform: none;
        text-align: center;
        padding: 0;
        background-color: transparent;
    }
}